@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  -ms-overflow-style: none;
}

body {
  background-color: #ececec;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.title {
  position: fixed;
  left: 3em;
  top: 1em;
  z-index: 2;
}

.jackie {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: black;
  z-index: 1;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
}

.toggle {
  position: fixed;
  width: 40px;
  height: 12px;
  right: 3.5em;
  top: 2.5em;
  z-index: 2;
  cursor: pointer;
}

span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #19222F;
}

span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #19222F;
  margin-top: 12px;
}

#nav-overlay {
  z-index: 1;
  position: fixed;
  background: #9197AE;
  height: 100%;
  width: 100%;
  top: -150%;
  right: -150%;
  -ms-overflow-style: none;
  opacity: 0;
}

#nav-overlay::-webkit-scrollbar {
  display: none;
}

.menu {
  padding: 12em 1em 0 0;
  text-align: center;
}

.menu ul {
  list-style: none;
  position: fixed;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  margin: auto;
  color: white;
  font-size: 5.5vw;
  line-height: 2em;
}

.menu ul li a.linkoverlay {
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", serif;
}

.social {
  position: fixed;
  bottom: 2.5em;
  right: 3em;
  z-index: 1;
}

.social ion-icon {
  color: black;
  padding-left: 20px;
  font-size: 20px;
}

.contact {
  position: fixed;
  bottom: 2.5em;
  left: 3em;
  z-index: 1;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: "Playfair Display", serif;
  margin-bottom: 7px;
}

.about {
  width: 70%;
  height: auto;
  position: relative;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 6em;
}

.about .profileimg {
  width: 20vmin;
  height: 25vmin;
  background-image: url("../../images/portfolio/Website Materials/JPEG/Profile_Picture.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 53% 45%;
  border: 2px solid #E5C2CC;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.profpage {
  width: 100%;
  height: 100%;
  border: 2px solid #E5C2CC;
  background-color: #FFFFFF;
  position: relative;
  top: 12.5vmin;
  margin-bottom: 10 em;
}

.profcontent {
  width: 100%;
  height: 100%;
  margin: auto;
}

.bio ul {
  list-style: none;
  margin: 2em;
  padding: 12.5vh;
}

.bio ul li {
  margin: 0;
  padding-left: 1.5em;
  position: relative;
}

.bio ul li:before {
  content: '';
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  position: absolute;
  top: .8vh;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/add.svg");
  background-color: #FFEE84;
  left: 0;
}

.bio ul li h3.about-title {
  font-size: 2vw;
  text-align: center;
  margin: 0 0;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

.bio ul li h3 {
  font-size: 2vw;
  margin: 0 auto;
  display: block;
  padding: 0 5vh 0 5vh;
}

.bio ul li h4 {
  font-size: 1.4vw;
  margin: 0 auto;
  margin-top: .5em;
  display: block;
  padding: 0 1vh 0 1vh;
  font-weight: 400;
}

.bio ul li p {
  font-size: 1.3vmax;
  padding: 0 0vh 0 0vh;
}

.bio ul li ul {
  list-style: none;
  height: auto;
  margin: 0em;
  padding: 0;
}

.bio ul li ul li:first-child {
  font-size: 1.3vw;
  margin-top: 1em;
  padding: 0 15vh 0 15vh;
}

.bio ul li ul li:first-child:before {
  content: '';
  background-image: none;
  background-color: #B3B3B3;
}

.bio ul li ul li {
  font-size: 1.3vw;
  padding: 0 15vh 0 15vh;
}

.bio ul li ul li:before {
  content: '';
  background-image: none;
  background-color: #B3B3B3;
}

.bio ul li ul li.date {
  font-weight: 700;
  margin-top: .5em;
}

.profline {
  border-left: 0px dashed black;
  height: 100%;
  z-index: 1;
}

.download {
  height: 15%;
  width: 20%;
  position: absolute;
  left: 50%;
  bottom: -18.75vh;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #FFFFFF;
  border: 2px solid #E5C2CC;
  z-index: 1;
}

.download h2 {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2vw;
}

.button {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=about.css.map */