@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  -ms-overflow-style: none;
}

body {
  background-color: #ececec;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.title {
  position: fixed;
  left: 3em;
  top: 1em;
  z-index: 2;
}

.jackie {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: black;
  z-index: 1;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
}

.toggle {
  position: fixed;
  width: 40px;
  height: 12px;
  right: 3.5em;
  top: 2.5em;
  z-index: 2;
  cursor: pointer;
}

span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #19222F;
}

span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #19222F;
  margin-top: 12px;
}

#nav-overlay {
  z-index: 1;
  position: fixed;
  background: #9197AE;
  height: 100%;
  width: 100%;
  top: -150%;
  right: -150%;
  -ms-overflow-style: none;
  opacity: 0;
}

#nav-overlay::-webkit-scrollbar {
  display: none;
}

.menu {
  padding: 2em 0 0 2em;
  text-align: center;
}

.menu ul {
  list-style: none;
  position: fixed;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  margin: auto;
  color: white;
  font-size: 5.5vw;
  line-height: 2em;
}

.menu ul li a.linkoverlay {
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", serif;
}

.social {
  position: fixed;
  bottom: 2.5em;
  right: 3em;
  z-index: 1;
}

.social ion-icon {
  color: black;
  padding-left: 20px;
  font-size: 20px;
}

.contact {
  position: fixed;
  bottom: 2.5em;
  left: 3em;
  z-index: 1;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: "Playfair Display", serif;
  margin-bottom: 7px;
}

.tabs {
  clear: both;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  z-index: 0;
  /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  float: left;
}

.tab label {
  margin-right: 20px;
  position: relative;
  left: 3em;
  top: 0;
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
}

.tab [type=radio] {
  display: none;
}

.tab__content {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0em 3em;
  -webkit-transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
  opacity: 0;
  font-family: "Open Sans", sans-serif;
}

[type=radio]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #234;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.mainimg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mainimg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: solid #9197AE 10px;
}

.mainimg-container {
  position: relative;
  top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: 75vmin;
  display: block;
  background-color: #9197AE;

}

hr {
  border-top: 0px solid #2E4166;
  width:95%;
  margin-right: auto;
  margin-left: auto;
}

.head-content {
  width: 100%;
  height: 80vh;
}

.description {
  position: relative;
  top: 15%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  height: 68.8%;
  font-family: "Playfair Display", serif;
}

.description h2 {
  position: relative;
  margin: 0 auto;
  font-size: 4vw;
  border-bottom: 1px solid #2E4166;
}

.description p {
  font-family: "Open Sans", sans-serif;
}

.tabs h4 {
  position: absolute;
  right: 1em;
  white-space: nowrap;
  font-size: 5vw;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.gallery {
  position: relative;
  top: 5%;
  width: 100%;
  height: 33%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  text-align: center;
}

.img-container {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  position: relative;
  max-width: 33%;
  height: 33%;
  margin: 0 auto;
  padding: 2.5%;
}

.img-container:hover .img-content-hover {
  display: block;
}

img.galleryimg {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img.galleryimg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 0px #9fa4bb;
          box-shadow: 5px 5px 0px #9fa4bb;
}
/*# sourceMappingURL=architecture.css.map */